# Ignore Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/
.gradle
**/local.properties

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unwanted files
*.log
*.tmp
*.bak
*.swp

# Ignore Java compiled files
